function Main.main 1
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return
function Main.convert 3
push constant 1
neg
pop local 2
label Main.convert_WHILE70
push local 2
push constant 0
eq
if-goto Main.convert_BREAK70
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
push constant 0
eq
if-goto Main.convert_ELSE92
push argument 0
push local 0
and
push constant 0
eq
not
push constant 0
eq
if-goto Main.convert_ELSE102
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto Main.convert_IF102
label Main.convert_ELSE102
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label Main.convert_IF102
goto Main.convert_IF92
label Main.convert_ELSE92
push constant 0
pop local 2
label Main.convert_IF92
goto Main.convert_WHILE70
label Main.convert_BREAK70
push constant 0
return
function Main.nextMask 0
push argument 0
push constant 0
eq
push constant 0
eq
if-goto Main.nextMask_ELSE165
push constant 1
return
goto Main.nextMask_IF165
label Main.nextMask_ELSE165
push argument 0
push constant 2
call Math.multiply 2
return
label Main.nextMask_IF165
function Main.fillMemory 0
label Main.fillMemory_WHILE199
push argument 1
push constant 0
gt
push constant 0
eq
if-goto Main.fillMemory_BREAK199
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto Main.fillMemory_WHILE199
label Main.fillMemory_BREAK199
push constant 0
return
